<!doctype html>
<html>

  {{ partial "meta.html" . }}

  {{ if isset .Params "title" }}
  <title>{{ .Params.Title }}</title>
  {{ else }}
  <title>{{ .Site.Title }}</title>
  {{ end }}

  <div class="content-grid">
    <div class="content-grid__header">
      <div class="content-grid__header__container">
        {{ partial "nav.html" }}
      </div>
    </div>

    <body>
      <div class="content-grid__main">
        <div class="content-grid__main__container">
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </body>

    <div class="content-grid__footer">
      {{ partial "footer.html" . }}
    </div>

</html>
