<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="utf-8" />
<meta name="keywords" content="neuroscience, psychology, research, cornell, perception, action, consciousness"/>
<meta name="description" content="PhD student researching how action shapes perception, cognition, and emotion using brain imaging and behavioral methods. Affiliation: Department of Psychology, Cornell University.">
<title>{{ print .Page.Title }}</title>
<!-- {{ $style := resources.Get "css/main.css"}} -->
<link rel="stylesheet" href="/css/main.css">
