<section class="navbar">
  <div class="navbutton__home">
    <a class="menu__item navbutton__home" href="/">Owen Morgan</a>
  </div>

  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>

  <ul class="menu">
    <li>
      <div>
        <a class="menu__item" href="/papers">Papers</a>
      </div>
    </li>
    <li>
      <div>
        <a class="menu__item" href='https://opmorgan.github.io/cv/cv.pdf'>CV</a>
      </div>
    </li>
  </ul>
</section>
