<div class="portrait">
  <div class="portrait-image">
    <img class="portrait-image" src="/images/headshot-2023.png"/>
  </div>
  <div class="flex-container portrait-email">
    <div class="portrait-email-text">
      <a href="mailto:opm6@cornell.edu">
        <p>opm6@cornell.edu </p>
      </a>
    </div>
    <div class="portrait-email-icon">
      <a class="portrait-email-icon" href="mailto:opm6@cornell.edu">
        <img src="/images/envelope-solid-red1.svg">
      </a>
    </div>
  </div>
  <div class="portrait-button-links">
    <div class="gs-button-link">
      <a href="https://scholar.google.com/citations?user=srf5UFkAAAAJ&hl=en&oi=ao">
        <img src="/images/google-scholar.svg">
      </a>
    </div>
    <div class="gh-button-link">
      <a href="https://github.com/opmorgan">
        <img src="/images/github.svg">
      </a>
    </div>
  </div>
</div>
