<div class="portrait">
  <div class="portrait-image">
    <img class="portrait-image" src="/images/headshot-2023.png"/>
  </div>

  <a href="mailto:opm6@cornell.edu">
    <div class="flex-container portrait-email">
      <div class="portrait-email-text">
        <p>opm6@cornell.edu </p>
      </div>
      <div class="portrait-email-icon">
        <img src="/images/envelope-solid-red1.svg">
      </div>
    </div>
  </a>

  <div class="portrait-button-links">
    <div class="gs-button-link">
      <a href="https://scholar.google.com/citations?user=srf5UFkAAAAJ&hl=en&oi=ao">
        <img class="gs-image-main" src="/images/google-scholar.svg">
        <img class="gs-image-hover" src="/images/google-scholar-red.svg">
      </a>
    </div>
    <div class="gh-button-link">
      <a href="https://github.com/opmorgan">
        <img class="gh-image-main"  src="/images/github.svg">
        <img class="gh-image-hover"  src="/images/github-red.svg">
      </a>
    </div>

    <div class="orcid-button-link">
      <a href="https://orcid.org/0000-0003-3284-9909">
        <img class="orcid-image-main"  src="/images/orcid.svg">
        <img class="orcid-image-hover"  src="/images/orcid-red.svg">
      </a>
    </div>
  </div>
</div>
