{{ define "main" }}
<main>
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  <!-- "{{ .Content }}" pulls from the markdown content of the corresponding _index.md -->
  {{ .Content }}
  <div class = "pub-grid">
    {{ range .Pages }}
    <div class = "pub-grid__content">

      <div class = "pub-grid__content__left">
        <div class = "pub__year">
          <p>{{ .Params.date.Format .Site.Params.pubDateFormat }}</p>
        </div>
      </div> <!-- pub-grid__content__left -->

      <div class = "pub-grid__content__right">
        <div class = "pub__title">
          <p>
          <!-- Every paper must have a pdf to display title -->
          <!-- TODO: only set title as link if pdf link exists -->
          {{ $title := .Params.Title }}
          {{ range $link := .Params.Links }}
          {{ if eq $link.name "pdf" . }}
          <a href={{ $link.url }}>
            {{ $title }}
          </a>
          {{ end }}
          {{ end }}
          </p>
        </div>
        <div class = "pub__authors">
          <!-- TODO: bold my name -->
          <p>{{ delimit .Params.Authors ", " }}</p>
        </div>
        <div class = "pub__journal">
          <p>{{ .Params.Publication }}</p>
        </div>
        <div class = "pub__links">
          {{ range $link := .Params.Links }}
          <div>
            <p>
            <a href={{ $link.url }}>
              [{{ $link.name }}]
            </a>
            </p>
          </div>
          {{ end }}
        </div>
      </div> <!-- pub-grid__content__right -->

    </div> <!-- pub-grid__content -->

    {{ end }}
  </div> <!-- pub-grid -->

</main>
{{ end }}
