{{ define "main" }}
<main>
  <header>
    <h1>{{ .Title }}</h1>
  </header>
  <!-- "{{ .Content }}" pulls from the markdown content of the corresponding _index.md -->
  {{ .Content }}

  <div class = "pub-grid">
    {{ range .Pages }}

          {{ $rel_url := .File.Dir }}

    <div class = "pub-grid__content">

      <div class = "pub-grid__content__left">
        <div class = "pub__year">
          <p>{{ .Params.date.Format .Site.Params.pubDateFormat }}</p>
        </div>
      </div> <!-- pub-grid__content__left -->

      <div class = "pub-grid__content__right">
        <div class = "pub__title">
          <p>
          {{ $title := .Params.Title }}
          {{ $permalink := .Permalink }}
          {{ with $pdf_name := .Params.pdf_name }}
          {{ $pdf_url := path.Join $rel_url $pdf_name }}
          <a href={{ absURL $pdf_url }}>
            {{ $title }}
          </a>
          {{ else }}
          {{ $title }}
          {{ end }}
          </p>
        </div>
        <div class = "pub__authors">
          <!-- TODO: bold my name -->
          <p>{{ delimit .Params.Authors ", " }}</p>
        </div>
        <div class = "pub__journal">
          <p>{{ .Params.Publication }}</p>
        </div>
        <div class = "pub__links">

          {{ with $url := .Params.url_perma }}
          <div>
            <p>
            <a href={{ $url }}>
              [doi]
            </a>
            </p>
          </div>
          {{ end }}

          {{ with $doi := .Params.doi }}
          <div>
            <p>
            <a href={{ printf "https://doi.org/%s" $doi }}>
              [doi]
            </a>
            </p>
          </div>
          {{ end }}

          {{ with $pdf_name := .Params.pdf_name }}
          {{ $pdf_url := path.Join $rel_url $pdf_name }}
          <div>
            <p>
          <a href={{ absURL $pdf_url }}>
              [pdf]
          </a>
            </p>
          </div>
          {{ end }}

          {{ with $url := .Params.url_code }}
          <div>
            <p>
            <a href={{ $url }}>
              [data & code]
            </a>
            </p>
          </div>
          {{ end }}

          {{ with $url := .Params.url_press }}
          <div>
            <p>
            <a href={{ $url }}>
              [press]
            </a>
            </p>
          </div>
          {{ end }}

          {{ with $url := .Params.url_task }}
          <div>
            <p>
            <a href={{ $url }}>
              [task script]
            </a>
            </p>
          </div>
          {{ end }}

        </div>
      </div> <!-- pub-grid__content__right -->

    </div> <!-- pub-grid__content -->

    {{ end }}
  </div> <!-- pub-grid -->

</main>
{{ end }}
